.logo{
 margin-left: 250px;
}
.multi-column-dropdown {
	list-style: none;
  margin: 0px;
  padding: 0px;
}
#navbarDropdownMenuLink:hover {
	text-decoration: none;
	color:red;

}

#navbarDropdownMenuLink{
    padding-right: 30px; 
}
.srch:hover{
  text-decoration: none;
	color:red;
}
.grid{
  text-align: center; background-color:lightgrey;font-weight:100px;
}
#p1:hover{
  color:red;
}
#p2:hover{
  color:red;
}
#p3:hover{
  color:red;
  border-radius: 50%;
}
#p1{
  padding-top: 70px;
}


