.logo{
 margin-left: 250px;
}
.multi-column-dropdown {
	list-style: none;
  margin: 0px;
  padding: 0px;
}
#navbarDropdownMenuLink:hover {
	text-decoration: none;
	color:red;
	/* background-color:black; */
}

/* nav.srch:hover{
    color:red;
} */
#navbarDropdownMenuLink{
    padding-right: 30px; 
}